# Archivos del sistema operativo
.DS_Store
Thumbs.db
*.swp
*.swo

# Editor / IDE
.idea/
*.sublime-project
*.sublime-workspace

# Logs y temporales
*.log
*.tmp
*.cache
npm-debug.log*
yarn-error.log*
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
